*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar{
    width: 100%;
    height: 70px;
    background-color: gray;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#navbar a{
    text-decoration: none;
    padding: 20px;
    font-size: medium;
    color: black;
}

#navbar a:hover{
    color:white;
    background-color: rgb(78, 71, 71);
}

/* start second section */

#maincontent{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
  
    
}
#maincontent section{
    flex-basis: 30%;
    border: 1px solid black;
    margin-top: 30px;
    padding: 20px;
    background-color: gray;
}
#maincontent section h3{
    text-align: center;
    text-decoration-line:underline ;
}
#maincontent section p{
    padding: 10px;
}
/* end second section */



/* third section */
#main-area{
    display: flex;
    flex-direction: row;
    /* column-gap: 20px; */
    justify-content: space-around;
}
#main-area #sidebar{
    flex-basis: 28%;
    margin-top: 30px;
    border: 1px solid black;
    background-color: gray;
}

#main-area #sidebar h3{
    text-align: center;
    margin-top: 10px;
}
#main-area #sidebar p{
    justify-content: center;
    padding: 10px;
}
#main-area #menu{
    flex-basis: 65%;
    margin-top: 30px;
    border: 1px solid black;
    background-color: gray;
}
#main-area #menu h3{
    text-align: center;
    margin-top: 10px;
}
#main-area #menu p{
    justify-content: center;
    padding: 10px;
}



/* end third section */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    background: gray;
    margin-top: 50px;
    font-weight: bold;
    height: 60px;
  }
  
